<?xml version="1.0" ?>
<model>
    <name>arena</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>

    <author>
        <name>David J. Kalbfleisch</name>
        <email>dak8645@g.harvard.edu</email>
    </author>

    <description>An arena with obstacles.</description>
</model>
